// フォントカラー
$main-color--b: #000000;
$main-color--w: #ffffff;
$main-color--gray: #ebebeb;
$main-color--beige: #b1a595;

$main-color--tel: #df2323;
$main-color--textShadow-start: #7488a31e;
$main-color--textShadow-end: #7488a349;

// サイト独自のカラー
$site-color01: #002a37;
$site-color01-hover: #024c63;
$site-balloon-color: #002a37;



// 背景カラー
$main-color-bg: #ffffff;
$contactBtn-color--bg: #90A83D;
$item-hover--bg:#9e9a9a;
$item-hover--bg-b:#4d4d4de6;
$modal-bg:#1e1e1ee6;
$modal-close--bg:#c9c8c8;
$contact-hover--bg: #e3d8c434;

// ボーダーカラー
$border-color--b: #333333;
$item-hover--b:#dfdddd94;


// ボーダーカラー
$border-color--b: #333333;
$item-hover--b:#dfdddd94;

// その他
$yellow-b: #ffd40099;
$pink-t: #E76179;
$contact-item-1: #002a37;
$contact-item-2: hsl(194, 100%, 11%, 80%);
$contact-item-3: hsl(194, 100%, 11%, 60%);
$contact-item-4: hsl(194, 100%, 11%, 40%);
$swiper-active: #CEBB74;


// ホバー関係
$nav-hover-bg: #41606a;
$nav-active-bg: #002a37;