@charset "utf-8";





// メニューボックスについて
.menu_box{
    position: fixed;
    top: 15px;
    right: 0;
    width: 70px;
    height: 7px;
    z-index: 10;
    @include mq(tb){
        top: 0;
        right: 0;
        width: 100px;
        height: 250px;
        background: rgba(255,255,255,0.5);
    }
    .el_humburger {
        position: absolute;
        top: 5%;
        left: 50%;
        transform: translateX(-50%);
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding-top: 0px;
        z-index: 20;
        cursor: pointer;
        pointer-events: auto;
        color: $main-color--b;
        text-align: center;
        @include mq(tb){
            display: block;
            padding-top: 10px;
        }
        .el_humburger_wrapper {
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 5px;
            width: 34px;
            display: block;

            @include mq(tb){
                margin-bottom: 5px;
                width: 33px;
            }
            @include mq(pc){

            }
        }
        .el_humburger_text {
            font-size: 12px;
            letter-spacing: 0.1em;
            font-family: "游ゴシック Medium", YuGothic, "Yu Gothic", "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, sans-serif;
            @include mq(sp){
                font-size: 10px;
                padding-top: 2px;
            }
            @media screen and (max-width: 840px) {
                svg{
                    path {
                        -webkit-transition: all 200ms cubic-bezier(0.16, 0.52, 0.25, 1);
                        -o-transition: all 200ms cubic-bezier(0.16, 0.52, 0.25, 1);
                        transition: all 200ms cubic-bezier(0.16, 0.52, 0.25, 1);
                        fill: #000;
                    }
                }
            }
        }
    
        // span
        .el_humburger_bar {
            display: block;
            width: 100%;
            margin: 0 auto 9px;
            height: 3px;
            background: #000;
            box-shadow: 0px 0px 3px white;//背景色がかぶった際に見やすくするため    
            -webkit-transition: all .2s ease-in-out;
            -o-transition: all .2s ease-in-out;
            transition: all .2s ease-in-out;
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
    // ナビ
    .navi{
        .navi_inner{
            .navi_item{
                white-space: nowrap;
                a{
                    display: block;
                    font-size: .7rem;
                    color: #fff;
                    text-decoration: none;
                    padding: 12px 12px 13px 50px;
                    border-bottom: #DDDDDD 1px solid;
                    @include mq(tb){
                        font-size: 1rem;
                    }
                    &:hover{
                        background: $main-color--w;
                        color: $main-color--b;
                        opacity: 0.8;
                    }
                }
                .op_innerLink {
                    cursor: pointer;
                }
            }
        }
    }
    // ナビ2
    .navi2{
        @include mq(sp){
            display: none;
        }
        @include mq(tb){
            position: absolute;
            left: 50%;
            bottom: 0;
            transform: translateX(-50%);
            width: 100%;
            z-index: 2;
            li{
                margin-bottom: 5px;
                text-align: center;
                &:last-child{
                    margin-bottom: 25px;
                }
                @include mq(tb){
                    margin-bottom: 15px;
                    text-align: center;
                    &:last-child{
                        margin-bottom: 25px;
                    }
                }
                a{
                    font-size: .7rem;
                    transition: 0.5s;
                    text-decoration: none;
                    color: $main-color--b;
                    @include mq(tb){
                        font-size: 1rem;
                    }
                    &:hover{
                        opacity: 0.5;
                        border-bottom: #999 1px solid;
                    }
                }
            }
        }
    }
    // ボタンエリア
    .btnArea{
    // .navi ul{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin: 30px 30px 50px;
        li{
            // position: relative;
            display:inline-block;
            width: calc(45% - 10px);
            margin-bottom: 20px;
            text-align: center;
            a{
                display: block;
                font-size: .8rem;
                width: 100%;
                height: 100%;
                color: $main-color--b;
                background: $main-color--w;
                border-radius: 5px;
                padding: 10px 10px 7px;
                transition: 0.5s;
                white-space: nowrap;
                @include mq(tb){
                    font-size: 1rem;
                }
                &::before{
                    display: inline-block;
                    font-family: FontAwesome;
                    font-weight: normal;
                    font-size: inherit;
                    text-rendering: auto;
                    -webkit-font-smoothing: antialiased;
                    -moz-osx-font-smoothing: grayscale;
                    margin-right: 0.5em;
                }
                &:hover{
                    opacity: 0.5;
                }
            }
            &:nth-child(1){
                a{
                    &::before{
                        content: '\f15c';
                    }
                }
            }
            &:nth-child(2){
                a{
                    &::before{
                        content: '\f0e0';
                    }
                }
            }
            &:nth-child(3){
                a{
                    &::before{
                        content: '\f13e';
                    }
                }
            }
            &:nth-child(4){
                a{
                    &::before{
                        content: '\f015';
                    }
                }
            }
        }
    }
}


/*ハンバーガーボタン*/


/*
    ハンバーガーボタン
    Open時
*/
.js_humburgerOpen{
    @media screen and (max-width: 840px) {
        .el_humburger_text{
            svg{
                path {
                    fill: #000;
                }
            }
        }
    }
}


#factory .el_humburger {
display: none;
}









// .el_humburger span.el_humburger_bar:last-child {
//     margin-bottom: 0;
// }

.js_humburgerOpen .el_humburger span.el_humburger_bar {
    background: #000;
}
@media screen and (max-width: 840px) {
    .el_humburger span.el_humburger_bar {
        left: 0;
        top: 0;
        background: #000;
    }
}

.js_humburgerOpen .el_humburger span.el_humburger_bar.top {
    -webkit-transform: translateY(12px) rotate(-45deg);
    -ms-transform: translateY(12px) rotate(-45deg);
    transform: translateY(12px) rotate(-45deg);
}

.js_humburgerOpen .el_humburger span.el_humburger_bar.middle {
    opacity: 0;
}

.js_humburgerOpen .el_humburger span.el_humburger_bar.bottom {
    -webkit-transform: translateY(-12px) rotate(45deg);
    -ms-transform: translateY(-12px) rotate(45deg);
    transform: translateY(-12px) rotate(45deg);
}

.el_humburgerButton.el_humburgerButton__close {
    top: 2%;
    right: 2%;
}

.el_humburgerButton__close span.el_humburger_bar {
    display: block;
    width: 35px;
    margin: 0 auto;
    height: 4px;
    background: #000;
}

.el_humburgerButton__close span.el_humburger_bar.top {
    -webkit-transform: translateY(5px) rotate(-45deg);
    -ms-transform: translateY(5px) rotate(-45deg);
    transform: translateY(5px) rotate(-45deg);
}

.el_humburgerButton__close span.el_humburger_bar.bottom {
  -webkit-transform: translateY(-6px) rotate(45deg);
  -ms-transform: translateY(-6px) rotate(45deg);
  transform: translateY(-6px) rotate(45deg);
}

.navi {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    width: 0;
    z-index: 3;
    padding-top: 100px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 600ms ease-out;
    -o-transition: all 600ms ease-out;
    transition: all 600ms ease-out;
    overflow: hidden;
}
.js_humburgerOpen .navi {
    width: 450px; }
    @media screen and (max-width: 840px) {
        .js_humburgerOpen .navi {
        width: 100%;
        padding: 70px 5% 0;
    }
}










header{
    position: relative;
}

.model{
    position: absolute;
    bottom: -5%;
    right: 5%;
    width: 200px;
}