//ボタン関係
.l-btnImg{
	display: block;
	width: auto;
	height: auto;

	//----- hoverアニメーション -----
    &.-hover-op{// 少し薄くするのみ
        img{
            opacity: 1;
            transition: all 0.3s ease-in-out;
            &:hover{
                opacity: .7;
            }
        }
    }
	&.-floatBtn{//----- 浮く -----
        border: 1px solid $item-hover--b;
        border-radius: 5px;
        @include mq(tb){
			margin: auto;
			transition: all 0.3s ease-in-out;
			&:hover{
				border: 1px solid #ffffff00;
				transform: translate(0, -1px);
				box-shadow: 0px 0px 7px 0px $item-hover--bg;
			}
		}
	}
    &.-pushBtn{//----- 押し込む -----
        @include mq(tb){
            position: relative;
            left: -10px;
			transition: all 0.3s ease-in-out;
            &::after{
                content: "";
                position: absolute;
                top: 11px;
                left: 10px;
                width: 99%;
                height: 87%;
                background: $main-color--b;
                border-radius: 8px;
                transform: translate(0, -1px);
                transition: all 0.3s ease-in-out;
                z-index: -1;
            }
			&:hover{
				transform: translate(10px, 10px);
                &::after{
                    transform: translate(-10px,-10px);
                }
			}
		}
    }
}


// a(電話リンク)
.l-linkTel{
	color: $main-color--tel;
	font-size: 24px;
	font-weight: bold;
	@include mq(tb){
		font-size: 40px;
	}
}