// flex関係（コンテンツの横並び）
.l-flex--area{
	height: 100%;
	.l-flex--contents{
		.flexItem{
			&.-noPD{
				padding: 0 !important;
			}
			&.-noPD_r{
				padding-right: 0 !important;
			}
			&.-noPD_l{
				padding-left: 0 !important;
			}
			// pcのみ
			&.-noPD_pc{
				@include mq(tb){
					padding: 0 !important;
				}
			}
			&.-noPD_r_pc{
				@include mq(tb){
					padding-right: 0 !important;
				}
			}
			&.-noPD_l_pc{
				@include mq(tb){
					padding-left: 0 !important;
				}
			}
			// spのみ
			&.-noPD_s{
				@include mq(sp){
					padding: 0 !important;
				}
			}
			&.-noPD_r_s{
				@include mq(sp){
					padding-right: 0 !important;
				}
			}
			&.-noPD_l_s{
				@include mq(sp){
					padding-left: 0 !important;
				}
			}
			&.-youtubeBox{
				padding: 0 5vw;
				@include mq(tb){
					padding: 0 1.5vw;
				}
				&.-left{
					@include mq(tb){
						padding: 0 1.5vw 0 0;
					}
				}
				&.-right{
					@include mq(tb){
						padding: 0 0 0 1.5vw;
					}
				}
			}
		}
		// スマホ時 > 順番逆
		&.-reverse_s{
			@include mq(sp){
				.flexItem{
					&:nth-child(1){
						order: 2;
					}
					&:nth-child(2){
						order: 1;
					}
				}
			}
		}
		&.-titleArea{
			display: flex;
			flex-wrap: nowrap;
			width: 100%;
			height: 100%;

			.flexItem{
				width: 80%;
				height: 100%;
					&:nth-child(1){
						@include mq(tb){
							width: 53%;
						}
					}
					&:nth-child(2){
						@include mq(tb){
							width: 47%;
						}
					}
			}
		}
		&.-tel{//電話番号エリア
			display: flex;
			flex-wrap: nowrap;
			width: 300px;
            margin: auto;
			align-items: center;
			justify-content: center;
			@media screen and (min-width: 767px){
				width: 1000px;
			}
			.flexItem{
				&:first-child{// 電話ロゴ
					padding-right:5px;
					svg{
						width: 25px;
						@media screen and (min-width: 767px){
							width: 34px;
						}
					}
				}
				&:last-child{// 電話番号
					width: auto;
					padding-left: 5px;
					@media screen and (min-width: 767px){
					}
				}
			}
		}
		&.-contact{//お問い合わせ
			display: flex;
			flex-wrap: wrap;
			justify-content: space-evenly;
			width: 90vw;
			margin: auto;
			@media screen and (min-width: 768px){
				flex-wrap: nowrap;
				width: 100vw;
				max-width: 1170px;
			}
			.flexItem{
				width: 35vw;
				@include mq(tb){
					width: 15vw;
				}
			}
		}
		&.-contact02{
			display: flex;
			flex-wrap: wrap;
			justify-content: space-evenly;
			width: 90vw;
			margin: auto;
			@media screen and (min-width: 768px){
				flex-wrap: nowrap;
				width: 100vw;
				max-width: 1350px;
			}
			.flexItem{
				width: 32vw;
				margin-bottom: 2vw;
				@include mq(tb){
					width: 12vw;
					margin-bottom: auto;

				}
			}
		}
		&.-contact03{
			display: flex;
			flex-wrap: wrap;
			justify-content: space-between;
			width: 90vw;
			margin: auto;
			@media screen and (min-width: 768px){
				flex-wrap: nowrap;
				width: 100vw;
				// max-width: 1290px;
			}
			.flexItem{
				width: 42vw;
				margin-bottom: 5vw;
				@include mq(tb){
					width: 20vw;
					margin-bottom: auto;
				}
			}
		}
		&.-contact-box{
			display: flex;
			flex-wrap: wrap;
			width: 100%;
			margin: auto;
			@media screen and (min-width: 768px){
				flex-wrap: nowrap;
			}
			.flexItem{
				width: calc(50%);
				@media screen and (min-width: 768px){
					width: 25%;
				}

				&:nth-child(1){
					.l-linkImg{
						background: $contact-item-1;
					}
				}
				&:nth-child(2){
					.l-linkImg{
						background: $contact-item-2;
					}

				}
				&:nth-child(3){
					.l-linkImg{
						background: $contact-item-3;
					}

				}
				&:nth-child(4){
					.l-linkImg{
						background: $contact-item-4;
					}
				}
			}
		}
		&.-contact-box_okano{
			display: flex;
			flex-wrap: nowrap;
			justify-content: space-between;
			width: 100%;
			margin: auto;
			@include mq(tb){
				width: 75%;
				justify-content: space-evenly;
			}
			.flexItem{
				width: calc(30%);
				@include mq(tb){
					width: 30%;
				}

				&:nth-child(1){
					.l-linkImg{
						background: $contact-item-1;
					}
				}
				&:nth-child(2){
					.l-linkImg{
						background: $contact-item-2;
					}

				}
				&:nth-child(3){
					.l-linkImg{
						background: $contact-item-3;
					}

				}
				// &:nth-child(4){
				// 	.l-linkImg{
				// 		background: $contact-item-4;
				// 	}
				// }
			}
		}
		&.-tab-box{
			width: 90vw;
			margin: auto;
			@include mq(tb){
				display: flex;
				flex-wrap: wrap;
				justify-content: space-evenly;
				width: 80vw;
				max-width: 1170px;
			}
			.flexItem{
				@include mq(sp){
					width: 90%;
					margin: 0 auto 10px;
				}
				@include mq(tb){
					width: calc(50% - 10px);
					margin: 5px;
				}
			}
		}




		&.-columnBox{
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			@include mq(tb){
				flex-wrap: nowrap;
				align-items: flex-start;
				justify-content: space-around;
			}
			.flexItem{
				width: 100%;
				padding: 0 5%;
				@include mq(tb){
					width: 50%;
					padding: 0 2%;
				}
			}
			&.-w_7-3{
				@include mq(tb){
					.flexItem{
						&.-textArea{
							width: 70%;
						}
						&.-picArea{
							width: 30%;
						}
					}
				}
			}
		}
		&.-columnBox02{
				display: flex;
				flex-wrap: nowrap;
				align-items: flex-start;
				justify-content: space-around;
				.flexItem{
					width: 100%;
					padding: 0 5%;
					@include mq(tb){
						width: 50%;
						padding: 0 2%;
					}
					&.title{
						@include mq(tb){
							width: 0%;
						}
					}
					&.des{
						@include mq(tb){
							width: 70%;
						}
					}
				}
		}
		&.-columnBox03{
			display: flex;
			flex-wrap: wrap;
			align-items: flex-start;
			@include mq(tb){
				justify-content: space-around;
			}
			.flexItem{
				width: 100%;
				padding: 0 3%;
				@include mq(tb){
					width: 33.3333%;
					padding: 0 2%;
					&:nth-child(1),
					&:nth-child(4)
					{
						padding: 0 4% 0 0;
					}
					&:nth-child(3),
					&:nth-child(6)
					{
						padding: 0 0 0 4%;
					}
				}
			}
		}
		&.-columnBox04{
			display: flex;
			flex-wrap: wrap;
			align-items: flex-start;
			@include mq(tb){
				flex-wrap: nowrap;
				justify-content: space-around;
			}
			&.-pc-wrap{
				@include mq(tb){
					flex-wrap: wrap;
				}
			}
			.flexItem{
				width: 50%;
				padding: 0 2%;
				@include mq(tb){
					width: 25%;
					padding: 0 1%;
				}
			}
		}
		&.-columnBox05{
			display: flex;
			flex-wrap: wrap;
			align-items: flex-start;
			@include mq(tb){
				flex-wrap: nowrap;
				justify-content: space-around;
			}
			&.-pc-wrap{
				@include mq(tb){
					flex-wrap: wrap;
				}
			}
			.flexItem{
				width: 50%;
				padding: 0 2%;
				@include mq(tb){
					width: 25%;
					padding: 0 2%;
				}
			}
		}
		&.-columnBox_sp{//spのみ > flex
			display: flex;
			flex-wrap: nowrap;
			align-items: flex-end;
			@include mq(tb){
				flex-wrap: wrap;
				align-items: flex-start;
				justify-content: space-around;
			}
			.flexItem{
				width: 50%;
				padding: 0 5%;
				@include mq(tb){
					width: 100%;
					padding: 0 2%;
				}
			}
		}

		&.-gaiyo-2_1{
			display: flex;
			flex-wrap: wrap;
			align-items:center;
			@include mq(tb){
				flex-wrap: nowrap;
				justify-content: space-around;
				align-items: flex-start;
			}
			.flexItem{
				&:nth-child(1){
					width: 60%;
					padding: 0 2%;
					margin: auto;
					@include mq(tb){
						width: 55%;
						padding: 0 2%;
					}
				}
				&:nth-child(2){
					width: 60%;
					padding: 0 2%;
					margin: auto;
					@include mq(tb){
						width: 30%;
						padding: 0 2%;
					}
				}

			}
		}
		&.-gaiyo{
			display: flex;
			flex-wrap: wrap;
			align-items: flex-start;
			@include mq(tb){
				flex-wrap: nowrap;
				justify-content: space-around;
			}
			.flexItem{
				width: 100% !important;
				@include mq(tb){
					width: 50% !important;
					padding: 0 2%;
				}
		}
		}

	}
}

.-s-location{
	@media screen and (min-width: 768px){
		width: 95%;
		max-width: 1260px;
		height: auto;
		margin: auto;
	}
	.thumbnail{
		.swiper-wrapper{
			flex-wrap: wrap;
			@media screen and (min-width: 768px){
				flex-wrap: wrap;
			}
		}
	}
}