.l-contents{
    &.-youtubeArea{
        text-align: center;
        .youtubeArea-wrapper{
            width: 100%;
            aspect-ratio: 16 / 9;
            iframe {
                width: 100%;
                height: 100%;
            }
        }
    }
}
